@import "stylesheets/application.scss";

.App {
  text-align: center;
}
.Container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
}
.Header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Color-box {
  width: 100px;
  height: 100px;
  color: #FFF;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px;
  float: left;
}
.Blue {
  background-color: map-get($colors, blue);
}
.Green {
  background-color: map-get($colors, green);
}
.Red {
  background-color: map-get($colors, red);
}
