h1 {
  margin: 0; }

a:focus {
  outline: 0;
  text-decoration: none; }

.icon {
  display: inline-block;
  vertical-align: middle; }

input[type="radio"],
input[type="checkbox"] {
  margin: inherit; }

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

button {
  background: none;
  border: 0;
  padding: 0; }
  button:focus {
    outline: 0; }

.App {
  text-align: center; }

.Container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left; }

.Header {
  padding-top: 40px;
  padding-bottom: 40px; }

.Color-blue {
  width: 100px;
  height: 100px;
  background-color: #41AFE4;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px; }

.Color-green {
  width: 100px;
  height: 100px;
  background-color: #17B583;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px; }
