@import "stylesheets/application.scss";

.App {
  text-align: center;
}
.Container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
}
.Header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Color-blue {
  width: 100px;
  height: 100px;
  background-color: map-get($colors, blue);
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
}
.Color-green {
  width: 100px;
  height: 100px;
  background-color: map-get($colors, green);
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
}
